.Title {
    text-align: center;
    color: #a5a5a5;
  }
  
  .Posts {
    text-align: center;
    overflow-y: auto;
    max-height: 120vh;
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .Post {
    border: 1px solid #7f7f7f;
    color: #ff5f05;
    padding-bottom: 10px;
    margin: 5px; 
    border-radius: 10px;
  }

  .PostContent {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .Form {
    text-align-last: center;
    color: #ccc;
  }

  .titleBox {
    inline-size: -webkit-fill-available;
    text-align-last: start;
  }

  .contentBox {
    resize: none; /* Prevent resizing */
    overflow: auto; /* Enable scrolling */
    max-height: 300px; /* Set a maximum height to limit the box size and enable scrolling */
  }  

.forumBottom {
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
}

.Upvote, .Downvote {
  margin-right: 5px; 
  padding: 5px 10px; 
  border: none; 
  color: #fff; 
  cursor: pointer;
}

.Upvote {
  background-color: #048000; 
  margin-left: 10px;
}

.Downvote {
  background-color: #a20000; 
}

.upvoteNumber {
  margin-right: 5px;
}

.PostUsernameContainer {
  text-align: left;
}

.PostUsername {
  display: inline-block;
  padding: 7px;
  background-color: #4b4b4b;
  border-radius: 20px;
  margin-left: 5px;
}

.RepliesContainer {
  color: #ff5f05;
  margin-left: 40px;
}

.ReplyForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ReplyForm textarea {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
  color: #efefef;
  background-color: #4b4b4b;
}

.ReplyForm button {
  width: 100%;
  margin-top: 10px;
  max-width: fit-content;
  padding: 10px;
  color: #efefef;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  background-color: #333333;
}

.Reply {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}