.githubButton {
    display: flex;
    padding: 8px 16px; 
    background-color: #007804; 
    color: #ffffff; 
    border: none;
    border-radius: 20px; 
    text-decoration: none;
    cursor: pointer;
    max-width: fit-content;

  }

  .githubButton:hover {
    background-color: #255828; 
  }

  .container {
    text-align: -moz-right;
    text-align: -webkit-right;
  }